body {
  display: flex;
  flex-direction: column;
}

.separator {
  padding: 50px 0 50px;
}

.header {
  font-size: 24px;
  color: #f9faf8;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
}

.header ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.footer {
  background-color: #1f2937;
  font-size: 12px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.hero.left {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.hero.title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero img {
  max-width: 400px;
  height: auto;
  padding: 0 200px;
}

.information {
  background-color: white;
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  gap: 32px;
}

.information img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.information ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  align-items: flex-end;
  justify-content: center;
}

.information.text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote .content {
  align-items: flex-start;
  max-width: 400px;
  flex: auto;
}
.quote .author {
  font-weight: bold;
  align-items: flex-end;
  max-width: 400px;
  flex: auto;
}

.calltoaction {
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.calloutside {
  background-color: #3882f6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
  width: 60%;
  height: auto;
  border-radius: 8px;
  padding: 10px 0;
}

.calloutside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 18px;
}

.callcontainer {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.calltitle {
  font-size: 36px;
  color: white;
  font-weight: bolder;
}

.calltext {
  font-size: 18px;
  color: white;
}

button {
  background-color: #3882f6;
  color: white;
  border-radius: 8px;
  padding: 5px;
  border: 2px solid white;
}

.modal {
  background: white;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.2);
  display: flex;
  gap: 16px;
  padding: 16px;
  align-items: center;
  justify-content: center;
}

.modal:hover {
  background: #1f2937;
}